<div class="top-title d-flex">
  <div class="img"><img src="{{cdn 'assets/img/cs-custom/newsletter-icon.png'}}"></div>
  <div class="text">
<h5>{{lang 'newsletter.subscribe'}}</h5>
<p>{{lang 'newsletter.subscribe_intro'}}</p>
</div>
</div>

<!-- <form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
              <input class="form-input" id="nl_first_name" name="nl_first_name" type="text" value="" placeholder="Your name">
                <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form> -->


<style type="text/css">
    #signup input ~ label.wrap {
        white-space: pre-wrap;
    }
</style>

    <div class="newsletter-form">
        <form  class="form" name="signup" id="signup" action="https://shopfittingwarehouse.uk/signup.ashx" method="post" autocomplete="off" onsubmit="return validate_signup(this, true)">
             <input type="hidden" name="userid" value="260058">
             <input type="hidden" name="SIGe4ae077b0bc7e48a8beed1a716c39ee3de230ab9a5b16d175f326f1564f97122" value="">
             <input type="hidden" name="addressbookid" value="145827" />
             <input type="hidden" name="ReturnURL" value="">
             <input type="hidden" id="ci_consenturl" name="ci_consenturl" value="">

            <div class="form-prefixPostfix">
                <input class="form-input name-width" type="text" class="text" name="cd_FIRSTNAME" id="FIRSTNAME" aria-required="true" placeholder="First Name" required/>

                <input class="form-input name-width" type="text" class="text" name="cd_LASTNAME" id="LASTNAME" aria-required="true" placeholder="Last Name" required/>

                <input class="form-input email" type="text" name="email" id="email" required aria-required="true" placeholder="Email">

                  <div class="form-input radio-block">
                      <label class="wrap" for="CUSTOMER-TYPE">Are you a business?</label>
                      <div class="onoff">
                        <input type="checkbox" name="cd_CUSTOMER-TYPE_radio" id="CUSTOMER-TYPE" value="y" aria-required="true" required/>
                        <label for="CUSTOMER-TYPE"></label>
                      </div>
                      <!-- <label class="wrap" for="CUSTOMER-TYPE">Are you a business?</label>
                      <div class="onoff">
                          <input type="radio" class="radio" name="cd_CUSTOMER-TYPE_radio" id="CUSTOMER-TYPE" value="y" aria-required="true" required />

                          <input type="radio" class="radio" name="cd_CUSTOMER-TYPE_radio" id="CUSTOMER-TYPE" value="n" aria-required="true" required />
                          <label for="CUSTOMER-TYPE"></label>
                      </div> -->

                  </div>


                <input type="submit" id="btnsubmit" name="btnsubmit" value="Submit" class="button button--primary form-prefixPostfix-button--postfix">
            </div>
          </form>
    </div>


<script type="text/javascript">
    <!--
    var urlInput = document.getElementById("ci_consenturl");
    if (urlInput != null && urlInput != 'undefined') {
        urlInput.value = encodeURI(window.location.href);
    }
    function checkbox_Clicked(element) {
        document.getElementById(element.id + "_unchecked").value = !element.checked;
    }
    function validate_signup(frm, showAlert) {
        var emailAddress = frm.email.value;
        var errorString = '';
        if (emailAddress == '' || emailAddress.indexOf('@') == -1) {
            errorString = 'Please enter your email address';
        }
        if (showAlert) {
            var els = frm.getElementsByTagName('input');
            for (var i = 0; i < els.length; i++) {
                if (els[i].className == 'text' || els[i].className == 'date' || els[i].className == 'number') {
                    if (els[i].value == '') errorString = 'Please complete all required fields.';
                } else if (els[i].className == 'radio') {
                    var toCheck = document.getElementsByName(els[i].name);
                    var radioChecked = false;
                    for (var j = 0; j < toCheck.length; j++) {
                        if (toCheck[j].name == els[i].name && toCheck[j].checked) radioChecked = true;
                    }
                    if (!radioChecked) errorString = 'Please complete all required fields.';
                }
            }
        }
        var isError = false;
        if (errorString.length > 0) {
            isError = true;
            if (showAlert) alert(errorString);
        }
        return !isError;
    }
    //-->
</script>
