---
blog:
    posts:
        limit: 10
        pages: 3
        summary: 200
---
{{#partial "page"}}

<div class="contact-top-banner">
<img src="{{cdn 'assets/img/cs-custom/blog-banner.jpg'}}">
<div class="text">
  <div class="message-icon">
  <img src="{{cdn 'assets/img/cs-custom/blog-icon.png'}}">
  </div>
  {{#unless theme_settings.hide_blog_page_heading }}
      <h2>{{ blog.name }}

<span>Tips, hints, and guides from the experts in storage and display solutions</span></h2>
  {{/unless}}
</div>
</div>

<main class="page">
<div class="blog-cat">
  <h3>Categories</h3>
  <div class='blog-sidebar-taglinks unique-tags'>
        </div>
        </div>

<div class="blog-list">
    {{#each blog.posts}}
        {{> components/blog/post post=this}}
    {{/each}}
    </div>

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
