---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "full-width"}}
<div class="cat-top-section">
<div class="container">
<div class="col col1">
  <div class="cat-img">
{{#if brand.image}}
    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage brand.image 'zoom_size'}}">
{{/if}}
<div class="title">
  <h1 class="page-heading">{{brand.name}}</h1>
  {{{region name="brand_below_header"}}}
  </div>
  </div>
</div>
<div class="col col2">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
</div>
</div>
</div>
{{/partial}}

{{#partial "page"}}

<div class="page">
    <aside class="page-sidebar" id="faceted-search-container">
        {{> components/brand/sidebar}}
    </aside>

    <main class="page-content" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
        {{{region name="brand_below_content"}}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
