$body-color:         #444444;

$green-dark:         #2e9e95;
$green-darkest:      #103f3c;


$black-color:        #000000;
$pink-light-color:   #f9f2f9;
$pink-color:         #69002f;
$light-pink:         #ff6969;
$pink-dark-color:    #ba9aa8;

$color-gray:         #e7e7e7;
$drak-gray:          #343434;
$gray-color:         #3d3d3d;
$gray-dark:          #646464;
$lightest-gray:      #dcdcdc;
$light-gray:         #f0f0f0;
$gray-light:         #f8f8f8;
$white-color:        #ffffff;
$orange-color:       #f26522;
$orange-light:       #fcb898;
$green-color:        #6aa561;
$green-light:        #268c0f;
