<div class="contact-map-panel">
<div class="col">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.953842924097!2d-2.0751827838925294!3d50.79496397952437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4873a17981a3fd25%3A0x5073d50a7d9c428f!2sShopfitting%20Warehouse!5e0!3m2!1sen!2suk!4v1581339975190!5m2!1sen!2suk" width="100%" height="515" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<div class="col">
<div class="text">
<h3>Contact US</h3>

<p><strong>Shopfitting Warehouse by Drakes Display Ltd,</strong><br />
Unit 11/13 Bridge Street,<br />
Bailie Gate Industrial Estate,<br />
Sturminster Marshall,<br />
BH21 4DB,<br />
United Kingdom</p>

<p><strong>Sales and Enquiries:</strong> 01258 859900<br />
<strong>Email:</strong> sales@shopfittingwarehouse.co.uk</p>

<p><strong>Office Hours: </strong><br />
Monday - Friday 9:00 a.m. to 5:00 p.m. <br />
(except bank holidays)</p>

<p><strong>VAT Number:</strong> 985 1809 78<br />
<strong>Company Registration No.:</strong> 07145595</p>

</div>
</div>
</div>
