<div class="home-top-usp-banner">
  <div class="container">
  <ul>
  <li>
    <div class="content">
      <!-- start TrustBox widget -->
    <!--<div class="img">
    <img src="//cdn.trustpilot.net/brand-assets/4.1.0/stars/stars-5.svg" alt="5 stars: Excellent"></div>-->
    <div class="trustpilot-widget text" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="4d81186200006400050f218c" data-style-height="20px" data-style-width="100%" data-theme="light">
    <a href="https://uk.trustpilot.com/review/www.shopfittingwarehouse.co.uk" target="_blank" rel="noopener">4.8 TrustPilot Score</a> </div>
    <!-- End TrustBox widget -->
    </div>

  </li>
  <li>
<div class="content">
  <div class="img">
    <svg><use xlink:href="#icon-free-delivery" /></svg></div>
    <div class="text">
    Free delivery
<span>over £95 + VAT</span></div>
</div>
</li>
<li>
<div class="content">
  <div class="img">
  <svg><use xlink:href="#icon-free-returns" /></svg>
  </div>
  <div class="text">
  Free Returns
<span>& Money Back</span>
</div>
</div>
</li>
  </ul>
  </div>
</div>
