<div class="home-trade-buyer">
<ul class="d-flex flex-wrap-w">
<li class="col1">
<div class="content">
<div class="icon-img"><img src="{{cdn 'assets/img/cs-custom/h-discount-img.png'}}"></div>
<h4>Trade Account</h4>
<p>Open today and start saving with top deals!</p>
<a href="#" class="btn">Register</a>
</div>
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-trade-img.jpg'}}"></div>
</li>
<li class="col2">
<div class="content">
<div class="icon-img"><img src="{{cdn 'assets/img/cs-custom/h-guide-icon.png'}}"></div>
<h4>Shelving Buyer’s Guide</h4>
<p>How to choose the ideal solution</p>
<a href="#" class="btn">Get your free guide</a>
</div>
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-gude-img.jpg'}}"></div>
</li>
</ul>
</div>
