<div class="home-top-category">
<ul class="d-flex flex-wrap-w">
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat1-img.jpg'}}"></div>
<div class="content">Chrome Wire Shelving</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat2-img.jpg'}}"></div>
<div class="content">Retail Shelving</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat3-img.jpg'}}"></div>
<div class="content">Clothes Rails</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat4-img.jpg'}}"></div>
<div class="content">Clothes Hangers</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat5-img.jpg'}}"></div>
<div class="content">Grid Mesh Display</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat6-img.jpg'}}"></div>
<div class="content">Twin Slot Shelving</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat7-img.jpg'}}"></div>
<div class="content">Tube&Clamp Displays</div>
</a>
</div>
</li>
<li>
  <div class="box">
    <a href="#">
<div class="img"><img src="{{cdn 'assets/img/cs-custom/home-cat8-img.jpg'}}"></div>
<div class="content">Display Furniture</div>
</a>
</div>
</li>
</ul>
</div>
