<nav class="navPages">
  <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}} sf-menu show">
        {{#each categories}}

        {{#if (dashcase ../theme_settings.mega_menu_one) '==' (dashcase name)}}
          <li class="has-megamenu {{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
            {{> components/cs-custom/cs-navigation-megamenu-new megamenu=../../theme_settings.mega_menu_one
              megatag=../../theme_settings.megatagone
              megalink=../../theme_settings.MegaMenuImagelinkone
              megaimage=../../theme_settings.MegaMenuImagePathone}}
          </li>
        {{else if (dashcase ../../theme_settings.mega_menu_two) '==' (dashcase name)}}
        <li class="has-megamenu {{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
          {{> components/cs-custom/cs-navigation-megamenu-new megamenu=../../theme_settings.mega_menu_two
            megatag=../../../theme_settings.megatagtwo
            megalink=../../../theme_settings.MegaMenuImagelinktwo
            megaimage=../../../theme_settings.MegaMenuImagePathtwo}}
        </li>
        {{else if (dashcase ../../../theme_settings.mega_menu_three) '==' (dashcase name)}}
        <li class="has-megamenu {{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
          {{> components/cs-custom/cs-navigation-megamenu-new megamenu=../../theme_settings.mega_menu_three
            megatag=../../../../theme_settings.megatagthree
            megalink=../../../../theme_settings.MegaMenuImagelinkthree
            megaimage=../../../../theme_settings.MegaMenuImagePaththree}}
        </li>
        {{else if (dashcase ../../../../theme_settings.mega_menu_four) '==' (dashcase name)}}
        <li class="has-megamenu {{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
          {{> components/cs-custom/cs-navigation-megamenu-new megamenu=../../theme_settings.mega_menu_four
            megatag=../../../../../theme_settings.megatagfour
            megalink=../../../../../theme_settings.MegaMenuImagelinkfour
            megaimage=../../../../../theme_settings.MegaMenuImagePathfour}}
        </li>
        {{else if (dashcase ../../../../../theme_settings.mega_menu_five) '==' (dashcase name)}}
        <li class="has-megamenu {{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
          {{> components/cs-custom/cs-navigation-megamenu-new megamenu=../../theme_settings.mega_menu_five
            megatag=../../../../../../theme_settings.megatagfive
            megalink=../../../../../../theme_settings.MegaMenuImagelinkfive
            megaimage=../../../../../../theme_settings.MegaMenuImagePathfive}}
        </li>
        {{else if (dashcase ../../../../../../theme_settings.mega_menu_six) '==' (dashcase name)}}
        <li class="has-megamenu {{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
          {{> components/cs-custom/cs-navigation-megamenu-new megamenu=../../theme_settings.mega_menu_six
            megatag=../../../../../../../theme_settings.megatagsix
            megalink=../../../../../../../theme_settings.MegaMenuImagelinksix
            megaimage=../../../../../../../theme_settings.MegaMenuImagePathsix}}
        </li>
        {{else}}
          <li class="{{dashcase name}} {{#if is_active '==' true}}ActivePage{{/if}}">
              {{> components/cs-custom/cs-navigation-list}}
          </li>
        {{/if}}
        {{/each}}
    </ul>
</nav>
