<!-- SECOND LEVEL STARTS -->
{{#if children}}
<a class="has-subMenu needsclick" href="{{url}}">
    {{#if megatag}}
      <i class="menu-tag">{{megatag}}</i>
    {{/if}}
    {{name}}
</a>
<ul class="megamenu-submenu">
  <li class="container">
    {{#if megaimage}}
      <div class="navlist-alternate-image-box float-right">
        <a href="{{megalink}}">
          <img src="/product_images/uploaded_images/{{megaimage}}" alt=""/>
        </a>
      </div>
    {{/if}}
  {{#each children}}
      <p class="nav-cat-heading">
        <a class="has-subMenu needsclick" href="{{url}}">
          <strong>{{name}}</strong>
        </a>
      </p>
      {{#if children}}
        {{#each children}}
            <p class="{{#if @last}}last-child{{/if}}"><a href="{{url}}">{{name}}</a></p>
        {{/each}}
      {{/if}}
    {{/each}}
  </li>
</ul>
{{else}}
<a class="has-subMenu needsclick" href="{{url}}">
    {{name}}
</a>
{{/if}}
<!-- SECOND LEVEL ENDS -->
