<div class="recent-blog-post">
  <div class="container">
    <h2 class="page-heading">Knowledge base</h2>
    <p>Learn everything about Shelving</p>
    <div class="blog-list-section clearfix">
        <div class="custom-row">
            {{#each blog.recent_posts}}
              {{#if @index '<' 3}}
                {{> components/blog/custom-blog-post blog=blog.recent_posts columns=3 settings=../settings}}
              {{/if}}
            {{/each}}
        </div>
    </div>
  </div>
</div>
