<div class="why-choose-us">
  <h2>Why choose us</h2>
<ul class="d-flex flex-wrap-w">
<li>
<h3>Shopfitting Warehouse</h3>
<h4>leading supplier of display, storage, shelving and retail equipment</h4>
<p>Whether you are looking to kit out a single retail store or an entire chain searching for exhibition display materials, a spark of interior design inspiration or commercial-quality storage, we are here to help.
  <br />
We have 1000’s of customers that rely on us and enjoy the experience of shopping with us day in day out.</p>
<a class="btn">Read more</a>
</li>
<li><img src="{{cdn 'assets/img/cs-custom/why-choose-us-img.jpg'}}"></li>
</ul>
</div>
