<section class="productCarousel slick-not-apply-{{products.length}}" {{#gt products.length 1}}
    data-list-name="{{list}}"
    data-slick='{
        "dots": false,
        "infinite": true,
        "slidesToShow": {{ columns }},
        "mobileFirst": true,
        "slidesToScroll": 5,
        "responsive": [
                {
                    "breakpoint": 1440,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 5
                    }
                },
                {
                    "breakpoint": 1279,
                    "settings": {
                      "slidesToScroll": 1,
                      "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 1023,
                    "settings": {
                      "slidesToScroll": 1,
                      "slidesToShow": 3
                    }
                },
                {
                    "breakpoint": 769,
                    "settings": {
                      "slidesToScroll": 2,
                      "slidesToShow": 3,
                      "dots": false,
                      "arrows": true
                    }
                },
                {
                    "breakpoint": 666,
                    "settings": {
                      "slidesToScroll": 2,
                      "slidesToShow": 3,
                      "dots": false,
                      "arrows": true
                    }
                },
                {
                    "breakpoint": 567,
                    "settings": {
                      "slidesToScroll": 1,
                      "slidesToShow": 1,
                      "dots": false,
                      "centerMode": true,
                      "centerPadding": "130px",
                      "arrows": true
                    }
                },
                {
                    "breakpoint": 479,
                    "settings": {
                      "slidesToScroll": 1,
                      "slidesToShow": 1,
                      "draggable": true,
                      "dots": false,
                      "centerMode": true,
                      "centerPadding": "100px",
                      "arrows": true
                    }
                },
                {
                    "breakpoint": 319,
                    "settings": {
                      "slidesToScroll": 1,
                      "slidesToShow": 1,
                      "draggable": true,
                      "dots": false,
                      "centerMode": true,
                      "centerPadding": "70px",
                      "arrows": true
                    }
                }
            ]
    }'
{{/gt}}>
    {{#each products}}
    <div class="productCarousel-slide">
        {{> components/products/related-product-card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1) show_rating=../settings.show_product_rating}}
    </div>
    {{/each}}
</section>
