<section class="videoGallery" data-video-gallery>
  <div class="product-title-block">
    <h4 class="h4-title">
        {{lang 'products.videos.header'}}
    </h4>
    </div>

    <div class="toggle-content-custom" id="custom-videoGallery-content">

        <div class="videoGallery-list">
          {{#each this.list}}
              <div class="video-list">
                  <iframe
                      id="player"
                      class="lazyload"
                      type="text/html"
                      width="640"
                      height="228"
                      frameborder="0"
                      webkitAllowFullScreen
                      mozallowfullscreen
                      allowFullScreen
                      data-src="//www.youtube.com/embed/{{id}}"
                      data-video-player>
                  </iframe>
              </div>
          {{/each}}
        </div>
    </div>

</section>
